<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>updatecourse</title>
</head>
<body>
<form action="/courses_update" method="get">
<h1>First put the Id of the course which you want to update</h1>
<br>
ID of the Course Which you want to update : <input type="text" name="id_main">
<br>
<h1>Fill the details</h1>
Id : <input type="text" name="id">
<br>
Title : <input type="text" name="title">
<br>
Description : <input type="text" name="desricption">
<br>
<button type="Submit" class="button1">Update Coures</button>
</body>
</html>